// Variables de couleur
$primary-color: #007bff;
$hover-color: #e0e0e0;
$focus-border-color: $primary-color;
$background-color: #f9f9f9;
$selected-background-color: $primary-color;
$badge-color: $primary-color;
$badge-text-color: #fff;
$button-padding: 10px;
$font-weight-bold: bold;

/* Style pour la zone d'ajout d'un héros */
.add-hero {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
    transition: border 0.3s ease-in-out;

    &.error {
      border: 1px solid #ff6f61; /* Rouge pour indiquer une erreur */
    }
  }

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }

  .error-message {
    color: #ff6f61;
    font-size: 0.9rem;
    margin-top: 5px;
    font-weight: bold;
  }
}

/* Liste des héros */
.heroes {
  list-style: none;
  padding: 0;
  margin: 0;

  .hero-item {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      display: flex;
      align-items: center;
      padding: 10px;
      width: 100%;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s;
      margin-right: 10px;
    }

    .badge {
      margin-right: 10px;
      font-weight: bold;
    }

    .name {
      font-size: 1.2rem;
      font-weight: 500;
    }

    .delete-btn {
      background-color: #ff6f61;
      color: white;
      border: none;
      padding: 5px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #d84f44;
      }
    }
  }
}

/* Détails du héros */
h2 {
  font-size: 1.5rem;
  color: #333;
}

div {
  margin-bottom: 10px;

  span {
    font-weight: bold;
  }
}

/* Focus sur les boutons */
button:focus {
  outline: 2px solid #007bff;
}
